body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C5E2FF;
    box-sizing: border-box;
    
}

.containerP{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C5E2FF;
    height: 100vh;
    min-width: 200px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    border-radius: 15px;
    min-width: 200px;
    margin-left: 10px;
    margin-right: 10px;

    img{
        border-radius: 20px;
        width: 100%;
    }
    h1{
        font-size: 15px;
        text-align: center;
    }
    .paragraph{
        margin-top: 0;
        font-size: 12px;
        text-align: center;
        color: darkgray;
    }
}


.component{
    display: flex;
    background-color: aliceblue;
    border-radius: 30px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    align-self: flex-start;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    color: dimgray;

    &&:hover{
        background-color: #007FFD;
        color: aliceblue;
        border-color: #007FFD;
    }

    .profile{
        width: 20px;
        height: 20px;
        border-radius: 30px;
        
    }
}

.icons{
    margin-top: 10px;
}